<div class="timer">
  <div class="box">
    <span class="time">{{ doubleDigit(daysToDay) }}</span>
    <span class="text">Days</span>
  </div>
  <div class="box">
    <span class="time">{{ doubleDigit(hoursToDay) }}</span>
    <span class="text">Hours</span>
  </div>
  <div class="box">
    <span class="time">{{ doubleDigit(minutesToDay) }}</span>
    <span class="text">Minutes</span>
  </div>
  <div class="box">
    <span class="time">{{ doubleDigit(secondsToDay) }}</span>
    <span class="text">Seconds</span>
  </div>
</div>
