<div nz-row>
  <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzMd]="{ span: 12, offset: 6 }">
    <nz-input-group
      nzSearch
      nzSize="large"
      nzPrefixIcon="search"
      [nzAddOnAfter]="suffixButton"
    >
      <input
        type="text"
        nz-input
        placeholder="Product name"
        [(ngModel)]="searchTextInput"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzSearch
        (click)="search()"
      >
        Search
      </button>
    </ng-template>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row nzJustify="space-around" nzAlign="middle">
  <h1 nz-col>Categories</h1>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <app-categories-filter
      [selectedCategory]="selectedCategory"
      (filter)="filter($event)"
    ></app-categories-filter>
  </div>
</div>
<nz-divider></nz-divider>
<div nz-row nzJustify="space-around" nzAlign="middle">
  <h1 nz-col>Products</h1>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <app-products-container
      [selectedCategory]="selectedCategory"
      [searchText]="searchText"
    >
    </app-products-container>
  </div>
</div>
