<div class="container">
  <div class="register-card">
    <h1>Register</h1>
    <form
      nz-formW
      [formGroup]="registerForm"
      class="register-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="This field is mandatory!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="This field is mandatory!">
          <nz-input-group nzPrefixIcon="mail">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="E-mail"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="This field is mandatory!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="login">
        Already have an account?
        <a routerLink="/authentication/login">Login here!</a>
      </div>
      <button
        nz-button
        class="register-form-button register-form-margin"
        [nzType]="'primary'"
        [nzSize]="'large'"
        [nzLoading]="isLoading"
      >
        <i nz-icon nzType="user-add" nzTheme="outline"></i>Register
      </button>
    </form>
  </div>
</div>
